<form [formGroup]="basicInfoForm">
  
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>

    <input
      matInput
      type="text"
      placeholder="John Doe"
      formControlName="name"
      [pattern]="namepattern"
      id="name"
      name="name"
    />
    <mat-icon matSuffix>person</mat-icon>
    <!-- <mat-error *ngIf="basicInfoForm.controls['name'].hasError('pattern')">
            <marquee
              >name must contain only alphabets and space and must be 6 to 32
              characters long
            </marquee>
          </mat-error>

          <mat-error
            *ngIf="basicInfoForm.controls['name'].hasError('required')"
          >
            name is required
          </mat-error> -->
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Father's Name</mat-label>

    <input
      matInput
      placeholder="john123"
      formControlName="userName"
      [pattern]="namepattern"
      id="userName"
      name="userName"
    />
    <!-- <mat-error
            *ngIf="basicInfoForm.controls['userName'].hasError('required')"
          >
            userName is required
          </mat-error>
          <mat-error
            *ngIf="basicInfoForm.controls['userName'].hasError('pattern')"
          >
            <marquee
              >username must contain only alphabets and digits and must be 6 to
              20 characters long
            </marquee>
          </mat-error> -->
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Mothers's Name</mat-label>

    <input
      matInput
      placeholder="john123"
      formControlName="userName"
      [pattern]="namepattern"
      id="userName"
      name="userName"
    />
    <!-- <mat-error
            *ngIf="basicInfoForm.controls['userName'].hasError('required')"
          >
            userName is required
          </mat-error>
          <mat-error
            *ngIf="basicInfoForm.controls['userName'].hasError('pattern')"
          >
            <marquee
              >username must contain only alphabets and digits and must be 6 to
              20 characters long
            </marquee>
          </mat-error> -->
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Email address</mat-label>

    <input
      matInput
      placeholder="johndoe@example.com"
      formControlName="emailId"
      [pattern]="emailpattern"
      id="emailId"
      name="emailId"
    />
    <!-- <mat-error
            *ngIf="basicInfoForm.controls['emailId'].hasError('required')"
          >
            email id is required
          </mat-error>
          <mat-error
            *ngIf="basicInfoForm.controls['emailId'].hasError('pattern')"
          >
            invalid email format
          </mat-error> -->
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>

  <br />
  <!-- 
      <mat-card-content>
        <label id="example-radio-group-label">Gender: </label>

        <br /><br />

        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Male</mat-radio-button>

          <mat-radio-button class="example-radio-button" value="2"
            >Female</mat-radio-button
          >

          <mat-radio-button class="example-radio-button" value="3"
            >Others</mat-radio-button
          >
        </mat-radio-group>
      </mat-card-content>
      <br /><br />

      <mat-card-content> -->

  <br /><br />

  <mat-form-field>
    <label id="example-radio-group-label">Date of birth: </label>

    <input matInput [matDatepicker]="pickeryear" placeholder="Choose a date" />
    <mat-datepicker-toggle [for]="pickeryear" matSuffix>
    </mat-datepicker-toggle>

    <mat-datepicker #pickeryear startView="year"></mat-datepicker>
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Mobile Number</mat-label>

    <input matInput placeholder="8877665544" formControlName="mobNo" required />

    <mat-icon matSuffix>phone</mat-icon>

    <!-- <div
            style="color: red"
            *ngIf="
              basicInfoForm.controls['mobNo'].touched &&
              basicInfoForm.controls['mobNo'].invalid
            "
          >
            <span *ngIf="basicInfoForm.controls['mobNo'].hasError('required')"
              >mobile number is required</span
            >

            <span *ngIf="basicInfoForm.controls['mobNo'].hasError('pattern')"
              >mobile number pattern is not valid</span
            >
          </div> -->
  </mat-form-field>
  <br />
 
</form>
